/*@import "tw-animate-css";*/
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .theme {
    --font-heading: var(--font-sans);

    --font-sans: var(--font-sans);
  }
  :root {
    --background: oklch(1 0 0);

    --foreground: oklch(0.145 0 0);

    --card: oklch(1 0 0);

    --card-foreground: oklch(0.145 0 0);

    --popover: oklch(1 0 0);

    --popover-foreground: oklch(0.145 0 0);

    --primary: oklch(0.205 0 0);

    --primary-foreground: oklch(0.985 0 0);

    --secondary: oklch(0.97 0 0);

    --secondary-foreground: oklch(0.205 0 0);

    --muted: oklch(0.97 0 0);

    --muted-foreground: oklch(0.556 0 0);

    --accent: oklch(0.97 0 0);

    --accent-foreground: oklch(0.205 0 0);

    --destructive: oklch(0.577 0.245 27.325);

    --border: oklch(0.922 0 0);

    --input: oklch(0.922 0 0);

    --ring: oklch(0.708 0 0);

    --chart-1: oklch(0.87 0 0);

    --chart-2: oklch(0.556 0 0);

    --chart-3: oklch(0.439 0 0);

    --chart-4: oklch(0.371 0 0);

    --chart-5: oklch(0.269 0 0);

    --radius: 0.625rem;

    --sidebar: oklch(0.985 0 0);

    --sidebar-foreground: oklch(0.145 0 0);

    --sidebar-primary: oklch(0.205 0 0);

    --sidebar-primary-foreground: oklch(0.985 0 0);

    --sidebar-accent: oklch(0.97 0 0);

    --sidebar-accent-foreground: oklch(0.205 0 0);

    --sidebar-border: oklch(0.922 0 0);

    --sidebar-ring: oklch(0.708 0 0);
  }
  .dark {
    --background: #0d1117;

    --foreground: oklch(0.985 0 0);

    --card: oklch(20.8% 0.042 265.755);

    --card-foreground: oklch(0.985 0 0);

    --popover: oklch(0.205 0 0);

    --popover-foreground: oklch(0.985 0 0);

    --primary: oklch(96.8% 0.007 247.896);

    --primary-foreground: oklch(0.205 0 0);

    --secondary: oklch(27.9% 0.041 260.031);

    --secondary-foreground: oklch(0.985 0 0);

    --muted: oklch(0.269 0 0);

    --muted-foreground: oklch(55.4% 0.046 257.417);

    --accent: oklch(0.269 0 0);

    --accent-foreground: oklch(0.985 0 0);

    --destructive: oklch(57.7% 0.245 27.325);

    --border: #ffffff12;

    --input: oklch(1 0 0 / 15%);

    --ring: oklch(0.556 0 0);

    --chart-1: oklch(0.87 0 0);

    --chart-2: oklch(0.556 0 0);

    --chart-3: oklch(0.439 0 0);

    --chart-4: oklch(0.371 0 0);

    --chart-5: oklch(0.269 0 0);

    --sidebar: oklch(0.205 0 0);

    --sidebar-foreground: oklch(0.985 0 0);

    --sidebar-primary: oklch(0.488 0.243 264.376);

    --sidebar-primary-foreground: oklch(0.985 0 0);

    --sidebar-accent: oklch(0.269 0 0);

    --sidebar-accent-foreground: oklch(0.985 0 0);

    --sidebar-border: oklch(1 0 0 / 10%);

    --sidebar-ring: oklch(0.556 0 0);
  }

  body {
    padding: 0 4rem;
  }
  html {
    @apply font-sans;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: #f1f5f9 !important; /* text-slate-100 */
  transition: background-color 5000s ease-in-out 0s;
}
